body {
    background-image: url("../resources/watercolor4.jpg");
}

table#show{
    border-collapse: collapse;
    width: 100%;
    align-items: center;

}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

div#first {
    width: 70%;
    height: auto;
    margin: 30px auto 0;
    padding: 40px;
    background-color: #EEE1E6;
    color: #333;
    border: 2px solid #CCAAAD;
    border-radius: 40px 40px;
}

legend {
    font-size: 16px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial;
}

div.error{
    font-family: Arial;
    color: #CCAAAD;
    font-size: 12px;
}

input#uname {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#upassword {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#phone {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input.ascending {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
}


input#submit {
    background-color: #CCAAAD;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    margin-left: 120px
}

input#submit:hover {
    background-color: #6E5F62
}



     /*body {*/
     /*    font-family: 'Nunito', sans-serif;*/
     /*}*/

 fieldset#first {
     width: 340px;
     height: auto;
     margin: 30px auto 0;
     padding: 40px;
     background-color: #EEE1E6;
     color: #333;
     border: 2px solid #CCAAAD;
     border-radius: 40px 40px;
 }

legend {
    font-size: 16px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 15px;
    font-weight: 700
}


input#fname {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#uname {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#email {
     border: 1px solid #DADADA;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-left: 35px;
     width: 310px;
     height: 30px;
     font-size: 14px;
     box-shadow: 0 0 10px;
     -webkit-box-shadow: 0 0 10px;
     /* For I.E */
     -moz-box-shadow: 0 0 10px;
     /* For Mozilla Web Browser */
     border-radius: 5px;
     -webkit-border-radius: 5px;
     /* For I.E */
     -moz-border-radius: 5px
     /* For Mozilla Web Browser */
 }


input#password {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#rpassword {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

input#fileToUpload {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
}

input[type="radio"] {
    display: block;
    text-align: left;
    display: inline;
}

input.gender {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    text-align: center;
}

input.married {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
}


input#submit {
    background-color: #CCAAAD;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    margin-left: 120px
}

input#submit:hover {
    background-color: #6E5F62
}

#meniu{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    /*font-family: sans-serif;*/
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 130px;
}
.myButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.myButton:active {
    position:relative;
    top:1px;
}

#welcome{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}

input#subject {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}

textarea#message {
    border: 1px solid #DADADA;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*padding-left: 35px;*/
    /*width: 310px;*/
    /*height: 30px;*/
    font-size: 14px;
    box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    /* For I.E */
    -moz-box-shadow: 0 0 10px;
    /* For Mozilla Web Browser */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /* For I.E */
    -moz-border-radius: 5px
    /* For Mozilla Web Browser */
}